DATABASE_URL="file:./dev.db"
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
GOOGLE_CALENDAR_DOME=
GOOGLE_CALENDAR_EMELY=
GOOGLE_CALENDAR_FAMILY=
BRING_EMAIL=
BRING_PASSWORD=
BRING_LIST_UUID=
